.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-image: url('../../assets/Hero_Background_Image.jpg');
    background-size: cover;
    background-position: 30% 98.5%;
    height: 65px;
}

.nav-logo {
    width: 200px;
}

.nav-profile {
    width: 55px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
}


@media(max-width:800px) {
    .navbar {
        padding: 15px 30px;
    }
    .nav-logo {
        width: 150px;
    }
    .nav-profile {
        width: 60px;
    }
}