.admin {
    display: flex;
    background-image: url('../../assets/Hero_Background_Image.jpg');
    background-size: cover;
    background-position: 30% 0%;
    height: 100vh;
}

@media(max-width: 800px) {
    .admin {
        flex-direction: column;
    }
}